.theme-color-text {
    color: #47b494;
}

.theme-color-background {
    background-color: #f3f3f2;
}

.theme-color {

}

.dd .dd-item > button {
    font-family: FontAwesome;
    height: 34px;
    width: 33px;
    color: #c1c1c1;
}
.dd .dd-item > button:before {
    content: "\f067";
}
.dd .dd-item > button[data-action="collapse"]:before {
    content: "\f068";
}

/*#nestable3-output {*/
    /*width: 100%;*/
    /*font-size: 0.75em;*/
    /*line-height: 1.333333em;*/
    /*font-family: open sans, lucida grande, lucida sans unicode, helvetica, arial, sans-serif;*/
    /*padding: 5px;*/
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
/*}*/
.dd .dd-handle {
    color: inherit;
    border: 1px dashed #e7eaec;
    background: #f3f3f4;
    padding: 10px;
    font-size: larger;
}
.dd span.label {
    margin-right: 10px;
}

.footer-link {
    font-size: 14px;
    font-weight: 600;
    color: #676a6c;
    display: flex;
    margin: 2px 0 7px 0;
}
.footer-link:hover,
.footer-link:focus {
    color: #1ab394;
}

.homep {
    list-style-type: circle;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.4;
    color: #ffffcc;
}

.ibox-custom {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}