.theme-color-text {
    color: #47b494;
}

.theme-color-background {
    background-color: #f3f3f2;
}

.theme-color {

}

#nestable3 .dd-item > button {
    font-family: FontAwesome;
    height: 34px;
    width: 33px;
    color: #c1c1c1;
}
#nestable3 .dd-item > button:before {
    content: "\f067";
}
#nestable3 .dd-item > button[data-action="collapse"]:before {
    content: "\f068";
}

#nestable3-output {
    width: 100%;
    font-size: 0.75em;
    line-height: 1.333333em;
    font-family: open sans, lucida grande, lucida sans unicode, helvetica, arial, sans-serif;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#nestable3 .dd-handle {
    color: inherit;
    border: 1px dashed #e7eaec;
    background: #f3f3f4;
    padding: 10px;
}
#nestable3 span.label {
    margin-right: 10px;
}

#nestable3-output {
    font-size: 12px;
    padding: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.md-skin #nestable3-output {
    font-family: 'Roboto', lucida grande, lucida sans unicode, helvetica, arial, sans-serif;
}
